body {
    font-family: Arial, sans-serif;
    margin: 0;
    /* padding: 20px; */
    background-color: #f0f0f0;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .card {
    width: calc(25% - 20px);
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  .card-content {
    margin-bottom: 15px;
  }

  .card h3 {
    /* font-size: 24px; */
    margin-bottom: 10px;
  }

  .card p {
    font-size: 14px;
    color: #666;
  }

  .card-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
  }

  .card-button:hover {
    background-color: #0056b3;
  }
