body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .carousel {
    position: relative;
    width: auto;
    /* max-width: 1000px; */
    margin: 0 auto;
    overflow: hidden;
    height: 90vh;
  }
  
  .carousel-slider {
    display: flex;
    transition: transform 0.3s ease-in-out;
  }
  
  .carousel-slide {
    flex: 0 0 100%;
  }
  
  img {
    width: 100%;
    height: auto;
    object-fit: cover; /* This will ensure the image covers the full slide */
  }
  
  .carousel-prev,
  .carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
  }
  
  .carousel-prev {
    left: 0;
  }
  
  .carousel-next {
    right: 0;
  }
  